<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Agregar tarea
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
        <!--Inputs-->
          <ion-item>
            <ion-input placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Descripción"></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <!--Fechas-->
          <ion-item>
            <ion-label>Fecha inicio</ion-label>
            <ion-datetime value="2001-02-13" placeholder="Select Date"></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-label>Fecha fin</ion-label>
              <ion-datetime value="2001-02-13" placeholder="Select Date"></ion-datetime>
          </ion-item>
          <!--Horas-->
          <ion-item>
            <ion-label> Hora de inicio</ion-label>
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
          </ion-item>
          <ion-item>
              <ion-label> Hora de fin</ion-label>
              <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>
            <ion-item-divider></ion-item-divider>
          <!--Materias-->
          <!--Kevin, no se si pueda obtener la info para opciones de lo que metan en el horario-->
          <ion-item>
            
          </ion-item>
          <!--Boton confirmar todo listo-->
          <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
              <ion-fab-button>
                <!--Falta hacer la funcion para que tome los datos de lo arriba y cree la tarea-->
                <ion-icon name="checkmark"></ion-icon>
              </ion-fab-button>
            </ion-fab>
        </ion-list>
  </ion-content>
