<ion-header>
  <ion-toolbar>
<ion-button shape="round" (click)="presentAlert()">
  <ion-icon slot="start" name="arrow-dropleft"></ion-icon>
</ion-button>
    <ion-title>
      Agregar profesor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <!--Inputs-->
        <ion-item> 
          <ion-input placeholder="Nombre" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Materia" [(ngModel)]="description"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Correo" [(ngModel)]="correo"></ion-input>
          </ion-item>
        
        <ion-item>
          
        </ion-item>
        <!--Boton confirmar todo listo-->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
            <ion-fab-button  [routerLink]="['/profesores']">
              <!--Falta hacer la funcion para que tome los datos de lo arriba y cree la tarea-->
              <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
          </ion-fab>

      </ion-list>
</ion-content>
