<ion-header>
    <ion-toolbar>
  <ion-button shape="round" (click)="presentAlert()"  >
    <ion-icon slot="start" name="arrow-dropleft"></ion-icon>
  </ion-button>
    <ion-title>
      Nueva clase
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <!--Inputs-->
        <ion-item> 
          <ion-input placeholder="Clase" [(ngModel)]="clase"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-item>
                    
                    <ion-datetime done-text="Listo" cancel-text="Cancelar" display-format="h:mm A" picker-format="h:mm A" value="string" placeholder="Hora de inicio" [(ngModel)]="hora"></ion-datetime>
                </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
                <ion-datetime done-text="Listo" cancel-text="Cancelar" display-format="h:mm A" picker-format="h:mm A" value="string" placeholder="Hora final" [(ngModel)]="horaf"></ion-datetime>
            </ion-item>
            </ion-col>
            </ion-row>
            </ion-grid>
        <p>Seleccione el o los día(s)</p>
          <ion-button shape="round"(click)=Lanadir(hora,horaf);>
      Lunes
    </ion-button>

    <ion-button color="{{colour}}" shape="round"(click)=MAanadir(hora,horaf);>
      Martes
    </ion-button>

    <ion-button shape="round"(click)=MIanadir(hora,horaf); >
      Miercoles
    </ion-button>

    <ion-button shape="round"(click)=Janadir(hora,horaf); >
      Jueves
    </ion-button>

    <ion-button shape="round"(click)=Vanadir(hora,horaf); >
      Viernes
    </ion-button>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
        <ion-fab-button>
          <ion-icon name="checkmark" [routerLink]="['/horario']"></ion-icon>
        </ion-fab-button>
        </ion-fab>
</ion-content>

