<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profesores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
    [scrollEvents]="true"
    (ionScrollStart)="logScrollStart()"
    (ionScroll)="logScrolling($event)"
    (ionScrollEnd)="logScrollEnd()">
    <!-- Botón añadir profe -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
        <ion-fab-button>
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
        <!--Opciones del botón-->
        <ion-fab-list side="top">
          <ion-fab-button>
             <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
          <ion-fab-button [routerLink]="['/addprofesores']">
              <ion-icon name="add" ></ion-icon>
           </ion-fab-button>


        </ion-fab-list>



      </ion-fab>

    <!--Lista de profes-->
      <ion-list>
        <ion-item ion-item *ngFor="let item of arreglo | keyvalue ">

          <ion-icon name="person" size="large" slot="start"></ion-icon>
          <ion-label>
            <h2>{{item.key}} </h2>
            <p>{{item.value}}</p>
          </ion-label>

        </ion-item>
    </ion-list>


    <!--ion-item>
      <ion-item-divider>
        PROFESOR
      </ion-item-divider>

      <ion-item>
        <ion-label ion-item *ngFor="let profes of profess">{{profes}}</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label *ngFor="let materias of materiass">{{materias}}</ion-label>
      </ion-item-divider>

    <--/ion-item>



</ion-content>

